# Specify the port number
Port 4242

# Permit root login
PermitRootLogin prohibit-password

# Disable password authentication and use key-based authentication
PasswordAuthentication yes
ChallengeResponseAuthentication yes

# Allow only specific users to connect via SSH
AllowUsers appuser

# Disable empty passwords
PermitEmptyPasswords no

# Enable logging
LogLevel VERBOSE

# Other default configurations
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server